Repository sourcenetwork/defradb, pull requests merged in 2023-12, with the labels that each got.

#2094 docs(i): Fix typos
  client/db.go
  client/lens.go
  docs/data_format_changes/i412-no-change-tests-updated.md
  tests/integration/query/simple/with_filter/with_like_string_test.go
  tests/integration/query/simple/with_filter/with_nlike_string_test.go
  tests/integration/schema/updates/add/field/create_update_test.go
Labels: documentation

#2091 feat: Add blob scalar type
  client/descriptions.go
  db/collection_update.go
  db/index.go
  db/indexed_docs_test.go
  request/graphql/schema/collection.go
  request/graphql/schema/descriptions.go
  request/graphql/schema/manager.go
  request/graphql/schema/types/scalars.go
  request/graphql/schema/types/scalars_test.go
  tests/integration/mutation/update/field_kinds/blob_test.go
  tests/integration/schema/simple_test.go
  tests/integration/schema/updates/add/field/kind/blob_test.go
  tests/integration/schema/updates/add/field/kind/invalid_test.go
Labels: feature, area/schema

#2111 refactor: Simplify Merkle CRDT workflow
  client/errors.go
  core/crdt/base.go
  core/crdt/base_test.go
  core/crdt/composite.go
  core/crdt/lwwreg.go
  core/replicated.go
  db/collection.go
  db/collection_delete.go
  db/db.go
  db/errors.go
  db/fetcher/versioned.go
  merkle/crdt/composite.go
  merkle/crdt/errors.go
  merkle/crdt/factory.go
  merkle/crdt/factory_test.go
  merkle/crdt/lwwreg.go
  merkle/crdt/merklecrdt.go
  merkle/crdt/merklecrdt_test.go
  net/process.go
Labels: area/crdt, refactor

#2131 feat: Add unique secondary index
  cli/index_create.go
  client/index.go
  db/errors.go
  db/fetcher/indexer.go
  db/fetcher/indexer_iterators.go
  db/index.go
  db/index_test.go
  db/indexed_docs_test.go
  docs/data_format_changes/i2131-rename-schema-root.md
  http/client_collection.go
  http/handler_collection.go
  request/graphql/schema/collection.go
  request/graphql/schema/index_parse_test.go
  request/graphql/schema/types/types.go
  tests/clients/cli/wrapper_collection.go
  tests/gen/cli/util_test.go
  tests/integration/index/create_drop_test.go
  tests/integration/index/create_get_test.go
  tests/integration/index/create_test.go
  tests/integration/index/create_unique_test.go
  tests/integration/index/drop_test.go
  tests/integration/index/get_test.go
  tests/integration/index/query_with_unique_index_only_filter_test.go
  tests/integration/test_case.go
  tests/integration/utils2.go
Labels: feature, area/query

#2158 fix(i): Add dep kubo v0.25.0 for ipfs v0.16.0
  go.mod
  go.sum
Labels: ci/build, dependencies, deprecate
