Repository sourcenetwork/defradb, pull requests merged in 2023-08, with the labels that each got.

#1739 tools(i): Migrate mockery to use package level config file
  Makefile
  client/mocks/collection.go
  client/mocks/db.go
  datastore/mocks/dag_store.go
  datastore/mocks/ds_reader_writer.go
  datastore/mocks/results.go
  datastore/mocks/root_store.go
  datastore/mocks/txn.go
  db/fetcher/mocks/encoded_document.go
  db/fetcher/mocks/fetcher.go
  tools/configs/mockery.yaml
Labels: area/testing, code quality, dependencies, deprecate

#1720 fix(i): Allow documents synced from P2P to migrate
  core/crdt/composite.go
  lens/lens.go
  lens/registry.go
  tests/integration/schema/migrations/query/with_p2p_test.go
Labels: bug, area/schema, area/p2p, action/no-benchmark

#1721 feat: Enable downgrading of documents via Lens inverses
  lens/lens.go
  lens/registry.go
  tests/integration/schema/migrations/query/with_p2p_test.go
  tests/lenses/rust_wasm32_set_default/src/lib.rs
  tests/lenses/utils.go
Labels: feature, area/schema, area/p2p, action/no-benchmark

#1740 chore: Update Badger version to v4
  api/http/handler_test.go
  api/http/handlerfuncs_test.go
  cli/serverdump.go
  cli/start.go
  config/config.go
  datastore/badger/v4/compat_logger.go
  datastore/badger/v4/datastore.go
  datastore/badger/v4/datastore_test.go
  datastore/badger/v4/errors.go
  datastore/badger/v4/iterator.go
  datastore/concurrent_txt_test.go
  datastore/txn_test.go
  datastore/wrappedstore_test.go
  db/db_test.go
  go.mod
  go.sum
  logging/logger.go
  net/node_test.go
  net/server.go
  tests/bench/bench_util.go
  tests/integration/utils2.go
  tools/configs/golangci.yaml
Labels: area/datastore, dependencies

#1743 tools(i): Add a manual triggering workflow to combine PRs
  .github/workflows/combine-bot-prs.yml
  .github/workflows/push-docker-image-to-registries.yml
Labels: code quality, dependencies

#1737 fix: Improve the way migrations handle transactions
  api/http/handlerfuncs.go
  client/lens.go
  datastore/concurrent_txn.go
  datastore/concurrent_txt_test.go
  datastore/mocks/txn.go
  datastore/txn.go
  datastore/txn_test.go
  db/db.go
  db/fetcher/versioned.go
  db/txn_db.go
  lens/fetcher.go
  lens/lens.go
  lens/registry.go
  lens/txn_registry.go
  tests/bench/query/planner/utils.go
  tests/integration/lens.go
  tests/integration/schema/migrations/query/with_txn_test.go
  tests/integration/schema/migrations/with_txn_test.go
Labels: bug, area/schema, action/no-benchmark

#1766 feat: Add support for adding of relational fields
  client/errors.go
  db/collection.go
  db/errors.go
  db/schema.go
  request/graphql/schema/collection.go
  request/graphql/schema/errors.go
  tests/integration/schema/relations_test.go
  tests/integration/schema/simple_test.go
  tests/integration/schema/updates/add/field/kind/foreign_object_array_test.go
  tests/integration/schema/updates/add/field/kind/foreign_object_test.go
Labels: feature, area/schema, action/no-benchmark

#1770 fix(i): Require secondary id field for one-ones
  db/collection.go
  tests/integration/schema/updates/add/field/kind/foreign_object_test.go
Labels: bug, area/schema, action/no-benchmark

#1736 tools: Add Akash deployment configuration
  tools/cloud/akash/README.md
  tools/cloud/akash/deploy.yaml
Labels: feature, platforms

#1780 chore(i): Update go-libp2p to 0.29.2
  go.mod
  go.sum
Labels: dependencies

#1777 feat: Support PatchSchema relational field kind substitution
  db/errors.go
  db/schema.go
  tests/integration/schema/updates/add/field/kind/foreign_object_array_test.go
  tests/integration/schema/updates/add/field/kind/foreign_object_test.go
Labels: feature, area/schema, action/no-benchmark

#1788 refactor(i): Unify collection.save and .applyMerge logic
  client/document.go
  db/collection.go
  db/collection_update.go
Labels: bug, area/collections, refactor, action/no-benchmark

#1768 fix: Handle the querying of secondary relation id fields
  planner/mapper/mapper.go
  planner/planner.go
  planner/type_join.go
  tests/integration/query/one_to_one/simple_test.go
  tests/integration/query/one_to_one/with_clashing_id_field_test.go
  tests/integration/query/one_to_one/with_group_related_id_alias_test.go
  tests/integration/query/one_to_one/with_group_related_id_test.go
Labels: bug, area/query, action/no-benchmark

#1795 test(i): Increase the package-levl test timeout
  Makefile
Labels: ci/build, action/no-benchmark

#1790 fix: Prevent multiple docs from being linked in one one
  db/collection.go
  db/collection_update.go
  db/errors.go
  tests/integration/backup/one_to_one/export_test.go
  tests/integration/backup/one_to_one/import_test.go
  tests/integration/backup/self_reference/export_test.go
  tests/integration/mutation/one_to_one/create/with_simple_test.go
  tests/integration/mutation/one_to_one/update/related_object_link_test.go
  tests/integration/mutation/one_to_one/update/related_object_link_with_alias_test.go
  tests/integration/query/one_to_one/with_clashing_id_field_test.go
Labels: area/query, action/no-benchmark

#1793 test(i): Add tests for multiple one-one joins
  tests/integration/query/one_to_one_multiple/simple_test.go
Labels: area/testing, code quality, action/no-benchmark

#1817 fix: Only update updated fields via update requests
  db/fetcher/encoded_doc.go
Labels: bug, area/query, action/no-benchmark

#1836 ci(i): Disable multiplexing in correct file
  tests/lenses/.cargo/config.toml
  tests/lenses/rust_wasm32_copy/Cargo.toml
  tests/lenses/rust_wasm32_remove/Cargo.toml
  tests/lenses/rust_wasm32_set_default/Cargo.toml
Labels: bug, area/testing, ci/build, action/no-benchmark

#1834 fix(i): Dont silently ignore potential error in lwwr
  core/clock.go
  core/crdt/composite.go
  core/crdt/lwwreg.go
  core/crdt/lwwreg_test.go
  core/replicated.go
  db/fetcher/versioned.go
  merkle/clock/clock.go
  merkle/clock/clock_test.go
  merkle/crdt/composite.go
  merkle/crdt/lwwreg.go
  merkle/crdt/merklecrdt.go
  net/dag.go
  net/process.go
  net/server.go
Labels: bug, area/crdt, code quality, action/no-benchmark

#1837 test(i): Test CreateDoc tests with gql and Collection.Save
  tests/integration/query/one_to_many/with_dockeys_test.go
  tests/integration/test_case.go
  tests/integration/utils2.go
Labels: area/query, area/collections, area/testing, code quality, action/no-benchmark
