Repository sourcenetwork/defradb, pull requests merged in 2024-08, with the labels that each got.

#2929 fix: No panic if filter condition on indexed field is empty
  internal/db/fetcher/indexer.go
  internal/db/fetcher/indexer_iterators.go
  tests/integration/index/query_with_index_only_filter_test.go
Labels: bug, area/query

#2933 feat: Enable indexing for DateTime fields
  go.mod
  internal/db/fetcher/indexer_iterators.go
  internal/encoding/encoding.go
  internal/encoding/field_value.go
  internal/encoding/time.go
  internal/encoding/type.go
  tests/integration/index/create_unique_test.go
  tests/integration/index/query_with_index_on_datetime.go
  tests/integration/index/query_with_unique_index_only_filter_test.go
Labels: area/query

#2940 fix: Add ns precision support to time values
  client/document.go
  client/value.go
  docs/data_format_changes/i2927-time-ns-precision.md
  internal/db/merge_test.go
  tests/integration/index/create_unique_test.go
  tests/integration/mutation/create/field_kinds/date_time_test.go
  tests/integration/mutation/update/field_kinds/date_time_test.go
  tests/integration/query/one_to_many/with_cid_doc_id_test.go
  tests/integration/query/simple/with_group_average_filter_test.go
  tests/integration/query/simple/with_group_test.go
  tests/integration/results.go
Labels: bug, area/db-system

#2942 fix: Handle index queries where child found without parent
  internal/planner/type_join.go
  tests/integration/index/query_with_relation_filter_test.go
Labels: bug, area/query

#2946 fix: Filter with date and document with nil date value
  internal/connor/ge.go
  internal/connor/gt.go
  internal/connor/le.go
  internal/connor/lt.go
  tests/integration/query/simple/with_filter/with_eq_datetime_test.go
  tests/integration/query/simple/with_filter/with_ge_datetime_test.go
  tests/integration/query/simple/with_filter/with_gt_datetime_test.go
  tests/integration/query/simple/with_filter/with_le_datetime_test.go
  tests/integration/query/simple/with_filter/with_lt_datetime_test.go
  tests/integration/query/simple/with_filter/with_ne_datetime_test.go
Labels: bug, area/query

#2947 fix: Panic with different composite-indexed child objects
  internal/db/fetcher/indexer_iterators.go
  internal/planner/multi.go
  internal/planner/scan.go
  tests/integration/index/query_with_composite_inxed_on_relation_test.go
Labels: bug, area/query

#2944 ci(i): Docker build separate from goreleaser
  .github/workflows/release.yml
  .goreleaser.yaml
  Makefile
  playground/package-lock.json
  tools/defradb.containerfile
  tools/goreleaser.containerfile
Labels: ci/build

#2913 chore: Bump to GoLang v1.22
  .github/workflows/check-tidy.yml
  .github/workflows/check-vulnerabilities.yml
  Makefile
  go.mod
  internal/lens/history.go
  internal/planner/commit.go
  internal/request/graphql/schema/generate.go
  tools/cloud/aws/packer/build_aws_ami.pkr.hcl
  tools/configs/golangci.yaml
  tools/defradb.containerfile
Labels: bump

#2963 refactor: Make SourceHub dep internal-only
  cli/start.go
  keyring/signer.go
  node/acp.go
  tests/integration/acp.go
Labels: refactor, ci/build

#2967 fix: Ignore badger path if in-memory
  datastore/badger/v4/datastore.go
Labels: bug, area/cli
