Repository sourcenetwork/defradb, pull requests merged in 2024-05, with the labels that each got.

#2573 fix: Add check to filter result for logical ops
  planner/filter/complex.go
  planner/filter/complex_test.go
  planner/type_join.go
  tests/integration/query/one_to_one/with_filter_test.go
Labels: bug

#2575 fix: Handle compound filters on related indexed fields
  planner/filter/complex.go
  planner/filter/complex_test.go
  planner/planner.go
  planner/type_join.go
  tests/integration/index/query_with_compound_filter_relation_test.go
Labels: bug, area/query

#2581 test(i): Fix dataless compound relational index filter tests
  tests/integration/index/query_with_compound_filter_relation_test.go
Labels: area/testing, code quality

#2579 fix: Return correct results from one-many indexed filter
  planner/type_join.go
  tests/integration/index/query_with_relation_filter_test.go
Labels: bug, area/query

#2583 test: Add more ACP integration tests
  tests/integration/acp/query/avg_test.go
  tests/integration/acp/query/count_test.go
  tests/integration/acp/query/fixture.go
  tests/integration/acp/query/relation_objects_test.go
Labels: area/testing, acp

#2598 docs: Document Event Update struct
  events/db_update.go
Labels: code quality

#2594 fix: Remove limit for fetching secondary docs
  internal/planner/type_join.go
  tests/integration/index/docs.go
  tests/integration/index/query_with_relation_filter_test.go
  tests/integration/test_case.go
  tests/predefined/README.md
Labels: bug, area/query

#2602 feat: Enable sec. indexes with ACP
  internal/db/collection_index.go
  internal/db/errors.go
  tests/integration/acp/index/create_test.go
  tests/integration/acp/index/fixture.go
  tests/integration/acp/index/query_test.go
  tests/integration/acp/index/query_with_relation_test.go
Labels: area/testing, acp

#2633 feat: Inject ACP instance into the DB instance
  acp/README.md
  acp/acp.go
  acp/acp_local.go
  acp/acp_local_test.go
  acp/doc.go
  acp/dpi.go
  acp/errors.go
  acp/identity/identity.go
  cli/server_dump.go
  cli/start.go
  cli/utils.go
  http/handler_ccip_test.go
  http/middleware.go
  internal/db/backup_test.go
  internal/db/collection.go
  internal/db/collection_acp.go
  internal/db/collection_delete.go
  internal/db/config.go
  internal/db/config_test.go
  internal/db/context.go
  internal/db/db.go
  internal/db/db_test.go
  internal/db/fetcher/fetcher.go
  internal/db/fetcher/indexer.go
  internal/db/fetcher/mocks/fetcher.go
  internal/db/fetcher/versioned.go
  internal/db/indexed_docs_test.go
  internal/db/permission/check.go
  internal/db/permission/register.go
  internal/lens/fetcher.go
  internal/planner/planner.go
  net/node_test.go
  net/peer_test.go
  node/acp.go
  node/node.go
  tests/bench/query/planner/utils.go
  tests/gen/cli/util_test.go
  tests/integration/acp.go
  tests/integration/db.go
  tests/integration/utils2.go
Labels: feature, acp

#2641 test: Test node pkg constructor via integration test suite
  cli/server_dump.go
  node/node.go
  node/store.go
  tests/bench/bench_util.go
  tests/integration/db.go
  tests/integration/events/utils.go
  tests/integration/net/order/utils.go
Labels: area/testing, code quality

#2639 tools(i): Ignore playground node modules in yamllint
  tools/configs/yamllint.yaml
Labels: ci/build

#2644 test(i): Don't setup http and p2p by default in test suite
  tests/integration/db.go
Labels: area/testing

#2648 fix: Make node options composable
  cli/start.go
  node/node.go
  node/node_test.go
  tests/integration/db.go
Labels: bug

#2647 ci(i): Add workflow to ensure cli docs are in sync
  .github/workflows/check-cli-documentation.yml
Labels: documentation, ci/build

#2656 refactor: Extract Defra specific logic from ACPLocal type
  acp/acp_local.go
  acp/acp_local_test.go
  acp/source_hub_client.go
  net/peer_test.go
  node/acp.go
Labels: area/auth, refactor, acp
