Repository sourcenetwork/defradb, pull requests merged in 2024-02, with the labels that each got.

#2276 feat: Multiple docs with nil value on unique-indexed field
  client/document.go
  db/fetcher/errors.go
  db/fetcher/indexer.go
  db/fetcher/indexer_iterators.go
  db/index.go
  db/indexed_docs_test.go
  docs/data_format_changes/i2161-document-strong-typing.md
  docs/data_format_changes/i2276-multiple-nil-for-unique-index-change.md
  tests/integration/index/create_unique_test.go
  tests/integration/index/query_with_composite_index_only_filter_test.go
  tests/integration/index/query_with_index_combined_filter_test.go
  tests/integration/index/query_with_index_only_filter_test.go
  tests/integration/index/query_with_relation_filter_test.go
  tests/integration/index/query_with_unique_composite_index_filter_test.go
  tests/integration/index/query_with_unique_index_only_filter_test.go
Labels: area/query, area/datastore

#2288 feat: Replace FieldDescription.RelationType with IsPrimary
  client/descriptions.go
  db/collection.go
  db/collection_update.go
  db/errors.go
  docs/data_format_changes/i2288-relation-type-is-primary.md
  planner/mapper/mapper.go
  planner/type_join.go
  request/graphql/schema/collection.go
  request/graphql/schema/descriptions_test.go
  request/graphql/schema/relations.go
  request/graphql/schema/relations_test.go
  tests/gen/gen_auto.go
  tests/gen/gen_auto_configurator.go
  tests/gen/gen_auto_test.go
  tests/integration/events/simple/with_update_test.go
  tests/integration/mutation/create/with_version_test.go
  tests/integration/net/state/simple/replicator/with_create_test.go
  tests/integration/query/commits/simple_test.go
  tests/integration/query/commits/with_cid_test.go
  tests/integration/query/commits/with_depth_test.go
  tests/integration/query/commits/with_doc_id_cid_test.go
  tests/integration/query/commits/with_doc_id_count_test.go
  tests/integration/query/commits/with_doc_id_field_test.go
  tests/integration/query/commits/with_doc_id_limit_offset_test.go
  tests/integration/query/commits/with_doc_id_limit_test.go
  tests/integration/query/commits/with_doc_id_order_limit_offset_test.go
  tests/integration/query/commits/with_doc_id_order_test.go
  tests/integration/query/commits/with_doc_id_test.go
  tests/integration/query/commits/with_doc_id_typename_test.go
  tests/integration/query/commits/with_field_test.go
  tests/integration/query/commits/with_group_test.go
  tests/integration/query/latest_commits/with_doc_id_field_test.go
  tests/integration/query/latest_commits/with_doc_id_test.go
  tests/integration/query/one_to_many/with_cid_doc_id_test.go
  tests/integration/query/simple/with_cid_doc_id_test.go
  tests/integration/query/simple/with_version_test.go
  tests/integration/schema/crdt_type_test.go
  tests/integration/schema/get_schema_test.go
  tests/integration/schema/migrations/query/simple_test.go
  tests/integration/schema/migrations/query/with_doc_id_test.go
  tests/integration/schema/migrations/query/with_p2p_test.go
  tests/integration/schema/migrations/query/with_restart_test.go
  tests/integration/schema/migrations/query/with_set_default_test.go
  tests/integration/schema/migrations/query/with_txn_test.go
  tests/integration/schema/migrations/query/with_update_test.go
  tests/integration/schema/migrations/simple_test.go
  tests/integration/schema/simple_test.go
  tests/integration/schema/updates/add/field/create_update_test.go
  tests/integration/schema/updates/add/field/kind/foreign_object_array_test.go
  tests/integration/schema/updates/add/field/kind/foreign_object_test.go
  tests/integration/schema/updates/add/field/simple_test.go
  tests/integration/schema/updates/move/simple_test.go
  tests/integration/schema/updates/remove/fields/simple_test.go
  tests/integration/schema/updates/test/field/simple_test.go
  tests/integration/schema/with_update_set_default_test.go
  tests/predefined/gen_predefined.go
  tests/predefined/gen_predefined_test.go
Labels: feature, area/schema

#2278 refactor: HTTP config
  README.md
  cli/start.go
  config/config.go
  config/configfile_yaml.gotmpl
  http/handler.go
  http/handler_ccip_test.go
  http/middleware.go
  http/server.go
  http/server_test.go
  tests/clients/cli/wrapper.go
  tests/clients/http/wrapper.go
  tests/gen/cli/gendocs.go
  tests/gen/cli/gendocs_test.go
  tests/gen/cli/util_test.go
Labels: area/config

#2298 fix: Mark docs as deleted when querying in delete mut
  planner/delete.go
  tests/integration/mutation/delete/with_deleted_field_test.go
Labels: bug, area/query

#2296 refactor: Node config
  cli/server_dump.go
  cli/start.go
  cli/utils.go
  config/config.go
  node/node.go
  node/node_test.go
  node/store.go
  node/store_test.go
Labels: area/config

#2306 fix: Add missing delta payload
  planner/commit.go
  request/graphql/schema/types/commits.go
  tests/integration/query/commits/simple_test.go
  tests/integration/query/simple/with_version_test.go
  tests/integration/results.go
  tests/integration/utils2.go
Labels: bug, area/planner

#2311 feat: Add support for views with Lens transforms
  .gitignore
  cli/view_add.go
  client/db.go
  client/descriptions.go
  db/txn_db.go
  db/view.go
  http/client.go
  http/handler_store.go
  planner/datasource.go
  planner/lens.go
  planner/operations.go
  planner/planner.go
  planner/view.go
  tests/clients/cli/wrapper.go
  tests/clients/http/wrapper.go
  tests/integration/explain.go
  tests/integration/explain/debug/with_view_transform_test.go
  tests/integration/test_case.go
  tests/integration/utils2.go
  tests/integration/view/one_to_many/with_transform_test.go
  tests/integration/view/one_to_one/with_transform_test.go
  tests/integration/view/simple/with_transform_test.go
  tests/lenses/Makefile
  tests/lenses/rust_wasm32_filter/Cargo.toml
  tests/lenses/rust_wasm32_filter/src/lib.rs
  tests/lenses/rust_wasm32_prepend/Cargo.toml
  tests/lenses/rust_wasm32_prepend/src/lib.rs
  tests/lenses/utils.go
Labels: feature, area/query

#2340 fix: Add `latest` image tag for ghcr
  .goreleaser.yaml
Labels: ci/build

#2352 ci(i): Remove lens test split in make file
  Makefile
  tests/change_detector/change_detector_test.go
Labels: area/testing

#2339 refactor: Generate field ids using a sequence
  core/key.go
  db/collection.go
  db/collection_index.go
  db/db.go
  db/index_test.go
  db/indexed_docs_test.go
  db/lens.go
  db/sequence.go
  docs/data_format_changes/i2333-field-id-seq.md
Labels: area/collections, refactor
