Repository sourcenetwork/defradb, pull requests merged in 2025-05, with the labels that each got.

#3652 feat: Utilize secondary indexes for ordering
  internal/db/collection_get.go
  internal/db/collection_index.go
  internal/db/fetcher/fetcher.go
  internal/db/fetcher/indexer.go
  internal/db/fetcher/indexer_iterators.go
  internal/db/fetcher/mocks/fetcher.go
  internal/db/fetcher/mocks/utils.go
  internal/db/fetcher/versioned.go
  internal/db/fetcher/wrapper.go
  internal/lens/fetcher.go
  internal/planner/order.go
  internal/planner/planner.go
  internal/planner/scan.go
  internal/planner/select.go
  internal/planner/type_join.go
  tests/integration/explain_result_asserter.go
  tests/integration/index/order_query_test.go
  tests/integration/index/query_with_composite_index_field_order_test.go
Labels: area/query, perf

#3667 chore(i): Migrate mockery to v3 + delete unused mocks
  Makefile
  client/mocks/collection.go
  client/mocks/db.go
  datastore/mocks/blockstore.go
  datastore/mocks/dag_store.go
  datastore/mocks/ds_reader_writer.go
  datastore/mocks/results.go
  datastore/mocks/root_store.go
  datastore/mocks/txn.go
  datastore/mocks/utils.go
  go.mod
  internal/db/fetcher/mocks/encoded_document.go
  internal/db/fetcher/mocks/fetcher.go
  internal/db/fetcher/mocks/utils.go
  tools/cloud/aws/packer/build_aws_ami.pkr.hcl
  tools/configs/mockery.yaml
Labels: meta/dev, code quality

#3670 refactor(i): Remove the document acp instance from node
  internal/db/db.go
  node/node.go
  node/node_p2p.go
Labels: refactor, area/acp

#3671 feat: Make Collection.Name immutable
  cli/test/integration/schema_add/simple_test.go
  client/collection.go
  client/collection_description.go
  client/definitions.go
  client/document_test.go
  client/errors.go
  client/mocks/collection.go
  docs/data_format_changes/i3646-col-name-immutable.md
  docs/website/references/http/openapi.json
  http/client_collection.go
  internal/db/backup.go
  internal/db/collection.go
  internal/db/collection_define.go
  internal/db/collection_index.go
  internal/db/collection_update.go
  internal/db/definition_validation.go
  internal/db/description/collection.go
  internal/db/errors.go
  internal/db/id/field.go
  internal/db/index_test.go
  internal/db/lens.go
  internal/db/p2p_replicator.go
  internal/db/p2p_replicator_test.go
  internal/db/p2p_schema_root_test.go
  internal/db/schema.go
  internal/planner/scan.go
  internal/planner/type_join.go
  internal/request/graphql/schema/collection.go
  internal/request/graphql/schema/generate.go
  tests/clients/cli/wrapper_collection.go
  tests/gen/cli/gendocs.go
  tests/gen/gen_auto.go
  tests/gen/gen_auto_config.go
  tests/gen/gen_auto_test.go
  tests/integration/acp.go
  tests/integration/collection_description/branchable_test.go
  tests/integration/collection_description/simple_test.go
  tests/integration/collection_description/updates/add/embeddings_test.go
  tests/integration/collection_description/updates/copy/name_test.go
  tests/integration/collection_description/updates/move/name_test.go
  tests/integration/collection_description/updates/remove/embeddings_test.go
  tests/integration/collection_description/updates/remove/name_test.go
  tests/integration/collection_description/updates/replace/embeddings_test.go
  tests/integration/collection_description/updates/replace/is_active_test.go
  tests/integration/collection_description/updates/replace/materialized_test.go
  tests/integration/collection_description/updates/replace/name_one_many_test.go
  tests/integration/collection_description/updates/replace/name_test.go
  tests/integration/collection_description/with_default_fields_test.go
  tests/integration/results.go
  tests/integration/schema/one_many_test.go
  tests/integration/schema/one_one_test.go
  tests/integration/schema/simple_test.go
  tests/integration/schema/updates/add/field/with_index_test.go
  tests/integration/schema/updates/with_schema_branch_test.go
  tests/integration/utils.go
  tests/predefined/gen_predefined.go
Labels: feature, area/collections

#3677 refactor: Rename CollectionDescription.ID to VersionID
  cli/test/action/collection_describe.go
  client/collection.go
  client/collection_description.go
  client/mocks/collection.go
  docs/data_format_changes/i3673-rename-col-id.md
  docs/website/references/http/openapi.json
  http/client_collection.go
  internal/db/collection.go
  internal/db/collection_define.go
  internal/db/definition_validation.go
  internal/db/description/collection.go
  internal/db/description/schema.go
  internal/db/fetcher/versioned.go
  internal/db/lens.go
  internal/db/p2p_replicator_test.go
  internal/db/p2p_schema_root_test.go
  internal/db/schema.go
  internal/db/view.go
  internal/lens/history.go
  internal/lens/lens.go
  internal/lens/registry.go
  internal/planner/lens.go
  internal/planner/scan.go
  tests/clients/cli/wrapper_collection.go
  tests/gen/gen_auto.go
  tests/gen/gen_auto_test.go
  tests/integration/collection_version/updates/add/collections_test.go
  tests/integration/collection_version/updates/replace/id_test.go
  tests/integration/results.go
  tests/integration/schema/migrations/simple_test.go
  tests/integration/schema/migrations/with_txn_test.go
  tests/integration/schema/updates/with_schema_branch_test.go
Labels: area/collections, refactor

#3679 refactor: Unify crdt packages
  internal/core/block/block.go
  internal/core/block/block_test.go
  internal/core/block/errors.go
  internal/core/block/heads.go
  internal/core/block/heads_test.go
  internal/core/block/signature_test.go
  internal/core/block/signing.go
  internal/core/block/store.go
  internal/core/crdt/collection.go
  internal/core/crdt/composite.go
  internal/core/crdt/counter.go
  internal/core/crdt/field.go
  internal/core/crdt/ipld_union.go
  internal/core/crdt/lww.go
  internal/core/crdt/lwwreg_test.go
  internal/core/crdt/merklecrdt.go
  internal/core/replicated.go
  internal/db/collection.go
  internal/db/collection_delete.go
  internal/db/fetcher/versioned.go
  internal/db/iterator.go
  internal/db/merge.go
  internal/db/merge_test.go
  internal/db/p2p_replicator.go
  internal/merkle/clock/clock_test.go
  internal/merkle/clock/errors.go
  internal/merkle/crdt/collection.go
  internal/merkle/crdt/composite.go
  internal/merkle/crdt/counter.go
  internal/merkle/crdt/lwwreg.go
  internal/merkle/doc.go
  internal/planner/commit.go
  net/peer_test.go
  tests/integration/signature/commit_test.go
Labels: area/crdt, refactor

#3701 feat: Replace commit query fieldID with fieldName
  client/request/commit.go
  client/request/consts.go
  internal/db/fetcher/dag.go
  internal/planner/commit.go
  internal/planner/mapper/commitSelect.go
  internal/planner/mapper/mapper.go
  internal/request/graphql/parser/commit.go
  internal/request/graphql/schema/types/commits.go
  internal/request/graphql/schema/types/descriptions.go
  tests/integration/encryption/commit_relation_test.go
  tests/integration/encryption/commit_test.go
  tests/integration/encryption/field_commit_test.go
  tests/integration/encryption/peer_test.go
  tests/integration/explain/debug/dagscan_test.go
  tests/integration/explain/default/dagscan_test.go
  tests/integration/query/commits/branchables/field_id_test.go
  tests/integration/query/commits/branchables/simple_test.go
  tests/integration/query/commits/simple_test.go
  tests/integration/query/commits/with_delete_test.go
  tests/integration/query/commits/with_doc_id_field_test.go
  tests/integration/query/commits/with_field_test.go
  tests/integration/query/commits/with_group_test.go
  tests/integration/query/commits/with_null_input_test.go
  tests/integration/query/latest_commits/with_doc_id_field_test.go
  tests/integration/query/latest_commits/with_field_test.go
  tests/integration/query/simple/with_version_test.go
  tests/integration/schema/updates/add/field/create_update_test.go
  tests/integration/schema/updates/move/simple_test.go
  tests/integration/signature/branchable_test.go
  tests/integration/signature/commit_test.go
  tests/integration/signature/peer_test.go
Labels: feature, area/query

#3703 perf: Cache collection short ids within txn context
  cli/utils.go
  http/middleware.go
  internal/db/backup_test.go
  internal/db/context.go
  internal/db/context_test.go
  internal/db/id/collection.go
  internal/db/index_test.go
  internal/db/merge.go
  internal/db/p2p_replicator.go
  internal/db/p2p_schema_root.go
  internal/db/subscriptions.go
  internal/db/txn.go
  js/utils.go
  tests/integration/lens.go
  tests/integration/utils.go
Labels: perf, area/collections

#3707 chore: Improve node startup sync and feedback
  cli/start.go
  cli/test/action/action.go
  cli/test/action/start.go
  cli/utils.go
  http/client.go
  http/client_acp.go
  http/client_collection.go
  http/client_lens.go
  http/client_p2p.go
  http/client_tx.go
  http/handler.go
  http/http_client.go
  node/message.go
  node/node.go
  node/node_api.go
  tests/integration/events.go
  tests/integration/p2p.go
Labels: area/cli

#3726 fix(i): Fix JS build
  js/client_collection.go
  tests/clients/js/wrapper_collection.go
Labels: bug

#3710 refactor: Remove collection field id
  client/collection_field_description.go
  client/definitions.go
  docs/data_format_changes/i3699-rm-col-field-id.md
  docs/website/references/http/openapi.json
  internal/db/collection.go
  internal/db/collection_define.go
  internal/db/collection_delete.go
  internal/db/collection_get.go
  internal/db/collection_index.go
  internal/db/context.go
  internal/db/description/collection.go
  internal/db/fetcher/encoded_doc.go
  internal/db/fetcher/filtered.go
  internal/db/fetcher/indexer.go
  internal/db/fetcher/indexer_iterators.go
  internal/db/fetcher/prefix.go
  internal/db/fetcher/versioned.go
  internal/db/fetcher/wrapper.go
  internal/db/id/collection.go
  internal/db/id/field.go
  internal/db/index.go
  internal/db/merge.go
  internal/db/schema.go
  internal/db/view.go
  internal/keys/systemstore.go
  internal/keys/systemstore_field_id.go
  internal/keys/systemstore_seq_field_id.go
  internal/lens/fetcher.go
  internal/planner/create.go
  internal/planner/mapper/mapper.go
  internal/planner/scan.go
  internal/planner/select.go
  internal/planner/type_join.go
  internal/planner/upsert.go
  internal/planner/view.go
  net/client_test.go
  tests/integration/collection_version/with_default_fields_test.go
  tests/integration/schema/one_many_test.go
  tests/integration/schema/one_one_test.go
Labels: area/collections, refactor

#3736 docs: Add data flow documentation
  internal/db/data_flow.md
Labels: documentation
