Repository sourcenetwork/defradb, pull requests merged in 2025-09, with the labels that each got.

#3981 chore: Update contributor section of readme
  README.md
Labels: documentation

#4002 chore: Make C binding return types consistent
  cbindings/acp.go
  cbindings/block.go
  cbindings/collection.go
  cbindings/cutils.go
  cbindings/identity.go
  cbindings/index.go
  cbindings/lens.go
  cbindings/node.go
  cbindings/p2p.go
  cbindings/query.go
  cbindings/schema.go
  cbindings/txn.go
  cbindings/version.go
  cbindings/view.go
  cbindings/wrapper.go
  cbindings/wrapper_collection.go
  cbindings/wrapper_lens.go
  cbindings/wrapper_tx.go
Labels: area/bindings

#4012 fix: Passive sync with node chain
  event/event.go
  internal/core/block/errors.go
  internal/core/block/store.go
  internal/datastore/blockstore.go
  internal/datastore/mocks/blockstore.go
  internal/datastore/multi.go
  internal/datastore/store.go
  internal/db/config.go
  internal/db/db.go
  internal/db/p2p/p2p.go
  internal/db/p2p/sync_dag.go
  internal/db/p2p/sync_doc.go
  node/node_p2p.go
  tests/integration/db.go
  tests/integration/events.go
  tests/integration/net/simple/peer/with_create_test.go
Labels: area/p2p

#4040 fix: Add missing composite commits for change detector
  tests/integration/utils.go
Labels: area/testing
